.game-div {

    width: 200px;
    height: 200px;

    display:inline-block;
    border-radius: 100px;
    margin: 5px;
}
.content-div {
    width: 600px;
    height: 700px;
    margin: auto;


    text-align: center;
}

#a {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid red;
}
#b {

    border: 2px solid blue;
    float: left;
}
#c {

    float: right;
    border: 2px solid orange;
}
#d {
    border: 2px solid lightgreen;
}